.niconico-darkmode-setting-true {
    .pankuzu {
        background-color: $sub-background-color !important;
        border-color: $border-background-color !important;
        .sg_global_bar {
            background-color: $sub-background-color !important;
            a {
                color: $sub-1-text-color !important;
            }
        }
    }
}
