@import "../parts/_default";
@import "../parts/_textarea";
@import "../parts/_footer";
@import "./header";
@import "./pankuzu";
@import "./footer";

.niconico-darkmode-setting-true {
    background-color: $main-background-color !important;
    color: $main-text-color !important;

    #wrapper {
        #ko_tagwatch.list_head_bar {
            background-color: $sub-background-color !important;
            border-bottom-color: $border-background-color !important;

            .inner {
                ul.list_header_nav {
                    li.nico_article a {
                        color: $main-text-color !important;
                    }
                }
            }
        }

        #content.list {
            #side {
                .refine {
                    h2 {
                        color: $main-text-color !important;
                    }

                    ul.refine_list {
                        li a {
                            color: $sub-1-text-color !important;
                            &.selected {
                                color: $main-text-color !important;
                            }
                        }
                    }
                }

                .relation_tags {
                    h2 {
                        color: $main-text-color !important;
                    }
                    ul.relation_tag_list {
                        li.tag_large {
                            filter: invert(0.89);
                            .tag_txt {
                                filter: $invert !important;
                                color: $main-text-color !important;
                            }
                            .thum {
                                filter: $invert !important;
                            }
                        }
                    }
                }
            }

            #main {
                .controll {
                    .sort {
                        color: $main-text-color !important;
                        .sort_form {
                            .dummy {
                                background-color: $sub-background-color !important;
                                color: $main-text-color !important;
                            }
                            select.reload_onchange {
                                background-color: $sub2-background-color !important;
                                color: $main-text-color !important;
                            }
                        }
                    }

                    ul.pager {
                        li {
                            &.disabled {
                                border-color: $border-background-color !important;
                            }
                        }
                    }

                    .page_count {
                        strong {
                            color: $main-text-color !important;
                        }
                        color: $sub-1-text-color !important;
                    }
                }
                .illust_list {
                    ul.item_list {
                        li.list_item a {
                            background-color: $sub-background-color !important;
                            border-color: $border-background-color !important;

                            ul.illust_info {
                                li.title {
                                    color: $main-text-color !important;
                                }

                                li.user {
                                    color: $sub-1-text-color !important;
                                }
                            }
                        }
                    }
                }
            }
        }

        #ads_pc_seiga_footer.level_ad {
            background-color: $main-background-color !important;
            border-color: $border-background-color !important;
        }
    }
}
