// マンガ マイページ 購入済み
@import "../../../parts/default";
@import "../../parts/my/my_menu";

.niconico-darkmode-setting-true {
    background-color: $main-background-color !important;
    color: $main-text-color !important;

    #wrapper {
        background-color: $main-background-color !important;        
    }

}